*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body {
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* common */

.white_button, .black_button, .blue_button {
    line-height: 40px;
    border-radius: 30px;
}

.white_button {
    background-color: rgb(255, 255, 255);
}

.black_button {
    background-color: black;
}

.blue_button {
    background-color: #8EA1E1;
}

.text_white_button, .text_black_button, .text_blue_button {
    padding: 20px;
    font-weight: bold;
}

.text_white_button {
    color: rgb(100, 94, 94);
}

.text_black_button, .text_blue_button {
    color: white;
}

a {
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 20px;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
  }

/* fine common */

/* header */

header {
    position: fixed;
    z-index: 999;
    background-color: #3161E0;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    font-size: 17px;
    font-weight: bold;
}

nav ul {vertical-align: middle;
    text-align: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
}

nav ul li a img {
    vertical-align: middle;
}

body > header > nav > ul > li:nth-child(1) {
    padding: 0 200px;
}

body > header > nav > ul > li:nth-child(7) {
    padding: 0 200px;
}

/* fine header */

/* main */

.jumbo {
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}

.jumbo_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 300px;
    text-align: center;
}

.jumbo_content h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 60px;
}

.jumbo_content span {
    font-size: 20px;
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
}

.jumbo_content .white_button, .black_button {
    position: absolute;
    bottom: 0;
    height: 55px;
    line-height: 55px;
}

.jumbo_content .white_button {
    left: 155px;
}

.jumbo_content .black_button {
    right: 155px;
}

.banner {
    padding-top: 20vh;
    position: relative;
    height: 80vh;
}

.content_banner {
    height: 40vh;
    margin: 0 auto;
}

.immagine_banner, .text_banner {
    float: left;
}

.text_banner {
    width: 300px;
    margin: 40px;
}

h2 {
    font-size: 45px;
    padding-bottom: 20px;
}

span {
    font-size: 20px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    line-height: 1.5;
}

.header_banner {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.immagine_fourth_banner {
    text-align: center;
}

.immagine_fourth_banner img {
    width: 60%;
}

.download_banner{
    height: 80vh;
    padding-top: 20vh;
    position: relative;
}

.download_banner h2 {
    margin: 0 auto;
    width: 750px;
    text-align: center;
    margin-top: 200px;
    background: url(../img/stars.svg);
    background-size: cover;
}

.blue_button {
    margin: 0 auto;
    height: 55px ;
    line-height: 55px;
    width: 200px;
    text-align: center;
}

/* fine main */

/* footer */

footer {
    height: 90vh;
    background-color: #23272A;
}

.col_container {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    border-bottom: 1px solid #7188D9;
}

.column {
    width: 230px;
    padding: 20px 10px;
    float: left;
}

.column h3 {
    font-size: 35px;
    color: #7188D9;
    padding: 15px;
}

.language {
    padding: 15px;
    line-height: 15px;
}

.lanuage a {
    line-height: 15px;
}

.language img {
    vertical-align: middle;
    line-height: 15px;
    width: 25px;
    border-radius: 10%;
}

.column:nth-child(1) {
    width: 400px;
}

.social {
    padding: 15px;
    color: white;
}

.social i {
    font-size: 25px;
    padding: 0 10px 0 0;
}

.column ul {
    padding: 20px;
}

.column ul li  {
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
    font-size: 17px;
    font-weight: bold;
}


.column ul > li:nth-child(1) > a
 {
    color: #7188D9;
}

li {
    color: white;
}

.bottom {
    margin: 0 auto;
    width: 1320px;
    height: 100px;
    position: relative;
}

.bottom .logo_footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo_footer img {
    height: 40px;
}

.bottom .blue_button {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* fine footer */